.DS_Store
.AppleDouble
.LSOverride
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Xcode
.DS_Store?
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
xcuserdata
profile
*.moved-aside
DerivedData
.idea/
*.unityproj

Unity/Temp/*
Unity/Library/*

# Unity project settings
!Unity/Library/EditorSettings.asset
!Unity/Library/EditorBuildSettings.asset
!Unity/Library/InputManager.asset
!Unity/Library/ProjectSettings.asset
!Unity/Library/QualitySettings.asset
!Unity/Library/TagManager.asset
!Unity/Library/TimeManager.asset
!Unity/Library/AudioManager.asset
!Unity/Library/DynamicsManager.asset
!Unity/Library/NetworkManager.asset

Unity/Assets/UnIDE/*
Unity/Assets/UnIDE.meta
Unity/Assets/StreamedSceneBundles/*
Unity/Assets/StreamedSceneBundles.meta
build/*
buildfre/*
*/build/*
*/buildfre/*
Archives/*
Builds/*
Build/*



*/node_modules/*

*.sln
*.userprefs
*.pidb
*.booproj
*.csproj

*.sw*
!*.swf
*.orig
*.orig.meta

Unity_iOS/build/*

